{% extends 'base/backend.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <!-- Datatables -->
    <link href="{{ base_path }}/js/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <!-- DataTables -->
    <script src="{{ base_path }}/js/plugins/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="{{ base_path }}/js/plugins/datatables/dataTables.bootstrap.min.js" type="text/javascript"></script>

    <!-- page script -->
    <script type="text/javascript">
        $(function() {

            $("#example_list").dataTable({
                serverSide: true,
                ajax: '{{ path_for('datatable-json') }}',
                "iDisplayLength": 25,
                "aLengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
                columns: [
                    {% for table_column in table_columns %}
                    { "data": "{{ table_column }}"},
                    {% endfor %}
                    {
                        "orderable": false,
                        "data": null,
                        "defaultContent": null
                    }
                ]
            });
        });

    </script>
{% endblock %}


{% block container %}

    <div class="wrapper row-offcanvas row-offcanvas-left">

        {% include 'base/menu.html.twig' with {'option': 'datatable'} %}

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Title Here
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">

                <div class="row">
                    <div class="col-xs-12">

                        {% include 'base/alerts.html.twig' %}

                        <div class="box">
                            <div class="box-header">

                            </div><!-- /.box-header -->

                            <div class="box-body table-responsive">
                                <table id="example_list" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        {% for key,table_column in table_columns %}
                                            <th>{{ key }}</th>
                                        {% endfor %}
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        {% for key,table_column in table_columns %}
                                            <th>{{ key }}</th>
                                        {% endfor %}
                                        <th>Actions</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div><!-- /.box-body -->
                        </div><!-- /.box -->
                    </div>
                </div>

            </section><!-- /.content -->
        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->

{% endblock %}
