{% extends 'base/backend.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <!-- Datatables -->
    <link href="{{ app.asset_path }}/js/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <!-- DataTables -->
    <script src="{{ app.asset_path }}/js/plugins/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="{{ app.asset_path }}/js/plugins/datatables/dataTables.bootstrap.min.js" type="text/javascript"></script>

    <!-- page script -->
    <script type="text/javascript">
        $(function() {

            $("#students_list").dataTable({
                serverSide: true,
                ajax: '{{ path_for('cursos-list') }}',
                "iDisplayLength": 25,
                "aLengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
                columns: [
                    {% for table_column in table_columns %}
                    { "data": "{{ table_column }}"},
                    {% endfor %}
                    {
                        "orderable": false,
                        "data": null,
                        "defaultContent": null
                    }
                ],
                rowCallback: function( row, data ) {
                    {#
                    //var actions = '<a href="{{ path_for('entity_edit', {id:false}) }}/' + data.{{primary_key}} + '" class="btn btn-primary btn-xs">Edit</a> <a href="{{ path_for('entity_delete',{id:false}) }}/' + data.{{primary_key}} + '" onclick="return confirm_delete();" class="btn btn-danger btn-xs">Delete</a>';
                    #}
                    //$('td:eq({{ table_columns|length }})', row).html( actions );
                    //$('td:eq(0)', row).html( iDisplayNumber++ );
                    var activateCourse = '{{ path_for('cursos-active', {curso: '-cur-'}) }}'.replace('-cur-', data.id );
                    var editCourse = '{{ path_for('curso-edit', {curso: '-cur-'}) }}'.replace('-cur-', data.id );

                    var $action  = $("<a>").attr("href", activateCourse)
                            .addClass("btn btn-xs curso-active")
                            .on('click', function(e) {

                                var me = this;

                                $.ajax({
                                    url: $(me).attr("href")
                                }).done(function ( data, status, xhr ) {
                                    if ($(me).text() == "Desactivado") {
                                        $(me).removeClass("btn-primary").addClass("btn-success").text("Activo");
                                    } else {
                                        $(me).removeClass("btn-success").addClass("btn-primary").text("Desactivado");
                                    }
                                });

                                return false;
                            });

                    if (data.active == "1") {
                        $action = $action.addClass("btn-success").text("Activo");
                    } else {
                        $action = $action.addClass("btn-primary").text("Desactivado");
                    }

                    var $ver    = $("<a>").attr("href", editCourse).addClass("btn btn-xs btn-warning").text("Editar");

                    $('td:eq({{ table_columns|length }})', row).html($action).append("&nbsp;").append($ver);

                }
            });
        });

        function confirm_delete(){
            if(!confirm("Are you sure? This action cannot be undone.")) {
                return false;
            }
        }

    </script>
{% endblock %}

{% block container %}

    <div class="wrapper row-offcanvas row-offcanvas-left">

        {% include 'base/menu.html.twig' with {'option': 'ciclos'} %}

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Gestión Ciclos en Dashboard
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">

                <div class="row">
                    <div class="col-xs-12">

                        {% include 'base/alerts.html.twig' %}

                        <div class="box">
                            <div class="box-header">

                            </div><!-- /.box-header -->

                            <div class="box-body table-responsive">
                                <table id="students_list" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        {% for key,table_column in table_columns %}
                                            <th>{{ key }}</th>
                                        {% endfor %}
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        {% for key,table_column in table_columns %}
                                            <th>{{ key }}</th>
                                        {% endfor %}
                                        <th>Actions</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div><!-- /.box-body -->
                        </div><!-- /.box -->
                    </div>
                </div>

            </section><!-- /.content -->
        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->

{% endblock %}
