{% extends 'base/backend.html.twig' %}

{% block javascripts %}

    {{ parent() }}

    <!-- page script -->
    <script type="text/javascript">
    </script>
{% endblock %}

{% block container %}

    <div class="wrapper row-offcanvas row-offcanvas-left">

        {% include 'base/menu.html.twig' with {'option': 'dash'} %}

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Title Here
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">

                <div class="row">
                    <div class="col-xs-12">

                        {% include 'base/alerts.html.twig' %}

                        <div class="box">
                            <div class="box-header">

                            </div><!-- /.box-header -->

                            <div class="box-body table-responsive">
                                <table class="table table-bordered table-striped">

                                        <tr>
                                            <th>f1</th>
                                            <th>f2</th>
                                            <th>f3</th>
                                            <th>f4</th>
                                        </tr>

                                        {% for value in data %}
                                            <tr>
                                                <td>{{ value.field1 }}</td>
                                                <td>{{ value.field2 }}</td>
                                                <td>{{ value.field3 }}</td>
                                                <td>{{ value.field4 }}</td>
                                            </tr>
                                        {% endfor %}
                                </table>
                            </div><!-- /.box-body -->
                        </div><!-- /.box -->
                    </div>
                </div>

            </section><!-- /.content -->
        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->

{% endblock %}
